---
---

<header>
  <a class="logo" href="/">
    <img src="/images/velzory-logo.png" alt="Velzory" class="logo-img" />
  </a>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--border);
  }
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text);
  }
  .logo-img {
    height: 52px;
    width: auto;
    display: block;
  }
</style>
